#drop__area {
    box-shadow: 1px 1px #ccc;;
    text-align: center; 
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 650px;
    height: 500px;
    font-family: sans-serif;
    margin: 20px auto;
    padding: 20px;
  }
  #drop-area.highlight {
    border-color: purple;
  }
  p {
    margin-top: 0;
  }
  .my-form {
    margin-bottom: 10px;
  }
  #gallery {
    margin: auto;
    height: 200px;
    width: 250px;
    border: 2px dashed #ccc;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  #gallery img {
    width: 250px;
    height: 200px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
  }
  .button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: auto;
  }
  .button:hover {
    background: #ddd;
  }
  #fileElem {
    display: none;
  }
  #Med__header{
    text-align: center;
  }
  #Med__hints{
    text-align: left
  }
  



  /* result area */
  #result__area {
    box-shadow: 5px 10px #ccc;;
    text-align: center; 
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 650px;
    height: 200px;
    font-family: sans-serif;
    margin: 20px auto;
    padding: 20px;
    text-align : left;
  }